/* Variables */

:root {
    --basic-amaranth: #EE3643;
    --hover-mahogany: #CA2C37;
    --click-cardinal: #BA2732;
    --basic-apple: #63A63E;
    --hover-kelly-green: #5FBB2D;
    --click-la-palma: #518534;
    --basic-blue: #32425C;
    --hover-bunting: #293449;
    --click-midnight-express: #1D2739;
    --light-gray: rgba(0, 0, 0, 0.0001);
    --black: #000000;
    --black-russian: #161D29;
    --chambray: #3D546F;
    --summer-sky: #3BBCE3;
    --golden-tainoi: #FFBF47;
    --salomie: #FFD180;
    --plum: #DC91D8;
    --de-york: #8ED78F;
    --linen: #F9F5F0;
    --whisper: #EAEAEA;
    --alice-blue: #F1F5F7;
    --silver: #C5C5C5;
    --old-lace: #F7F3EC;
    --white: #FFFFFF;
    --darkgray: #A9A9A9;
    --magnolia: #F3F7F9;
    --social: linear-gradient(0deg, #212A3A, #212A3A);
    --cuprun: Cuprum, Arial, Helvetica, sans-serif;
}


/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: var(--black);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    font-weight: normal;
    font-family: var(--cuprun);
    text-transform: uppercase;
    align-items: center;
    text-align: center;
}


/* Общий фон хедера */

.main-header {
    background-color: transparent;
    background-image: url("../img/top-bg.png");
}


/* Верхняя плашка хеддера */

.main-topbar {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    font-weight: normal;
    font-family: Cuprum, Arial, sans-serif;
    background-color: var(--hover-bunting);
}

.main-topbar a {
    color: var(--white);
    background-color: var(--basic-amaranth);
}


/* Средняя плашка хеддера  */

.main-middlebar p {
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-amaranth);
    font-weight: normal;
    font-family: Cuprum, Arial, sans-serif;
    font-style: italic;
}

.main-middlebar-address-phone {
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-amaranth);
    font-weight: bold;
    font-family: Cuprum, Arial, sans-serif;
    font-style: normal;
}

.main-middlebar-address .main-middlebar-address-street {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-blue);
    font-weight: normal;
    font-family: Cuprum, Arial, sans-serif;
    font-style: normal;
}

.login,
.registration {
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
    font-weight: normal;
    font-family: var(--cuprun);
    align-items: center;
    text-align: center;
}

.login:hover,
.registration:hover {
    color: var(--basic-amaranth)
}

.login:active,
.registration:active {
    color: var(--silver)
}


/* Навигация в хеддере */

.main-navigation {
    background-color: var(--basic-blue);
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    font-weight: normal;
    font-family: Cuprum, Arial, sans-serif;
}


/* Промо-блок */

.promo-list {
    list-style: none;
}

.promo-item h3 {
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
    font-weight: bold;
    font-family: Cuprum, Arial, sans-serif;
}

.promo-material {
    background-color: var(--golden-tainoi);
}

.promo-instrument {
    background-color: var(--summer-sky);
}

.promo-technic {
    background-color: var(--plum);
}

.promo-sale {
    background-color: var(--de-york);
}

.promo-delivery {
    background-color: var(--golden-tainoi);
}

.promo-button {
    background-color: rgba(255, 255, 255, 0.3)
}

.promo-button:hover {
    background-color: rgba(197, 197, 197, 0.3)
}

.promo-button:active {
    background-color: rgba(169, 169, 169, 0.3)
}


/* Слайдер промо-блока */

.promo-slider h3 {
    font-size: 36px;
    line-height: 36px;
    color: var(--white);
    font-weight: bold;
    font-family: Cuprum, Arial, sans-serif;
    text-transform: uppercase;
}

.promo-slider p {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    font-weight: normal;
    font-family: Cuprum, Arial, sans-serif;
}

.slider-button {
    background-color: var(--basic-amaranth);
}


/* Популярные товары */

.main-goods-list {
    list-style: none;
}

.main-goods-bar {
    background-color: var(--linen);
}

.red-button {
    background-color: var(--basic-amaranth);
}

.section-header {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-blue);
    font-weight: normal;
    font-family: Cuprum, Arial, sans-serif;
    text-transform: uppercase;
}

.main-goods-item h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--black);
    font-family: PT Sans, Arial, sans-serif;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    color: var(--darkgray);
    font-weight: bold;
    font-family: PT Sans, Arial, sans-serif;
    text-decoration-line: line-through;
    text-transform: uppercase;
}

.price-button {
    font-size: 17px;
    line-height: 18px;
    color: var(--white);
    font-weight: bold;
    font-family: PT Sans, Arial, sans-serif;
    text-transform: uppercase;
    background-color: var(--basic-amaranth);
}

.buy-button {
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    font-weight: normal;
    font-family: Cuprum, Arial, sans-serif;
    text-transform: uppercase;
    background-color: var(--basic-apple);
}

.to-bokmark-button {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-blue);
    font-weight: normal;
    font-family: Cuprum, Arial, sans-serif;
    text-transform: uppercase;
    background-color: var(--white);
    border: 3px solid var(--basic-apple);
}


/* Популярные производители */

.main-brands-bar {
    background-color: var(--linen);
}

.main-brands-list {
    list-style: none;
}

.main-brands-item {
    background-color: var(--white);
}


/* Сервисы */

.service {
    background-color: var(--alice-blue);
}

.service p {
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
}

.service-list {
    list-style: none;
}

.service-button {
    font-size: 21px;
    line-height: 30px;
    color: var(--white);
    font-weight: bold;
    font-family: Cuprum, Arial, sans-serif;
    background-color: var(--basic-blue);
}

.service-button-active {
    color: var(--basic-blue);
    background-color: var(--white);
}

.service h2 {
    color: var(--black);
}


/* О компании */

.about h3 {
    color: var(--black);
}

.about-transport-list {
    list-style: none;
}

.about-transport-item {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--black);
    font-family: Cuprum, Arial, sans-serif;
}


/* Футер */


/* Футер верхняя часть */

.footer-top {
    background-color: var(--basic-blue);
}

.footer-logo {
    background-color: var(--basic-amaranth);
}

.footer-address {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--magnolia);
    font-family: Cuprum, Arial, sans-serif;
    font-style: normal;
}

.footer-address a {
    color: var(--magnolia);
}

.footer-nav-company,
.footer-nav-goods {
    list-style: none;
}

.footer-top-nav {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    font-family: Cuprum, Arial, sans-serif;
}

.footer-nav-company a {
    color: var(--alice-blue);
}

.footer-nav-goods a {
    color: var(--salomie);
}


/* Футер нижняя часть */

.footer-social {
    background-color: var(--hover-bunting);
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.footer-social-list {
    list-style: none;
}

.social-button {
    background-color: var(--social);
}

.footer-social-list a {
    color: var(--white);
}

.footer-social address {
    font-style: normal;
    color: var(--white);
}

.footer-social a {
    color: var(--salomie);
}