/* Variables */

:root {
  --basic-amaranth: #ee3643;
  --hover-mahogany: #ca2c37;
  --click-cardinal: #BA2732;
  --basic-apple: #63a63e;
  --hover-kelly-green: #5FBB2D;
  --click-la-palma: #518534;
  --basic-blue: #32425C;
  --hover-bunting: #293449;
  --click-midnight-express: #1D2739;
  --light-gray: rgba(0, 0, 0, 0.0001);
  --black: #000000;
  --black-russian: #161D29;
  --chambray: #3d546f;
  --summer-sky: #3BBCE3;
  --golden-tainoi: #FFBF47;
  --salomie: #FFD180;
  --plum: #DC91D8;
  --de-york: #8ED78F;
  --linen: #F9F5F0;
  --whisper: #EAEAEA;
  --alice-blue: #F1F5F7;
  --alice-blue-catalog: #F2F6F8;
  --silver: #c5c5c5;
  --old-lace: #F7F3EC;
  --white: #ffffff;
  --darkgray: #A9A9A9;
  --magnolia: #F3F7F9;
  --rock-blue: #99a1ae;

  --social: linear-gradient(0deg, #212A3A, #212A3A);
  --cuprum: Cuprum, Arial, Helvetica, sans-serif;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Outline */

.outline-red {
  outline: 1px solid rgba(255, 0, 0, 0.7);
  outline-offset: -3px;
}

.outline-green {
  outline: 1px solid rgba(0, 255, 0, 0.7);
  outline-offset: -3px;
}

.outline-blue {
  outline: 1px solid rgba(0, 0, 255, 0.7);
  outline-offset: -3px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  font-weight: normal;
  font-family: var(--cuprum);
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  border-style: none;
}

/* Верхняя плашка хеддера */

.main-topbar {
  background-color: var(--hover-bunting);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: var(--magnolia);
  height: 320px;
}

.main-topbar-wrapper {
  box-sizing: border-box;
  display: flex;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  font-weight: normal;
  font-family: var(--cuprum);
  height: 42px;
}

.main-topbar-logo {
  background-color: var(--basic-amaranth);
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}

.main-topbar-logo:active {
  background-color: var(--click-cardinal);
}


.main-topbar-logo img {
  margin-top: 12px;
}

.main-topbar-search {
  display: flex;
  position: relative
}

.header-input-search {
  order: 1;
  background-color: transparent;
  width: 271px;
  height: 42px;
  border: none;
  padding: 0 0 0 42px;
  box-sizing: border-box;
}


.main-topbar-search svg {
  opacity: 0.3;
  margin-left: 17px;
  margin-top: 10px;
  position: absolute;
}

.main-topbar-search:hover svg {
  opacity: 1;
}


.header-input-search:focus + svg path {
  fill: var(--basic-amaranth);
}

.header-input-search:focus + svg {
  fill: var(--basic-amaranth);
  opacity: 1;
}


.header-input-search:focus {
  background-color: var(--white);
  outline: none;
}

.header-input-search::placeholder {
  color: var(--white);
  opacity: 1;
}

.header-input-search::placeholder:focus {
  color: var(--black);
}

.main-topbar-wrapper a {
  color: var(--white);
}


.main-topbar-user-menu {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
.main-topbar-user-menu a {
  display: block;
  padding: 9px 23px;
  position: relative;
}
.main-topbar-bookmark::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 16px;
  height: 18px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-topbar-cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 16px;
  height: 18px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-topbar-bookmark:hover::before,
.main-topbar-cart:hover::before {
  opacity: 1;
}
.main-topbar-bookmark:active,
.main-topbar-cart:active {
  opacity: 0.3;
}
.main-topbar-order {
  background-color: var(--basic-apple);
}
.main-topbar-order:hover {
  background-color: var(--hover-kelly-green);
}
.main-topbar-order:active {
  background-color: var(--basic-apple);
  color: rgba(255, 255, 255, 0.5);
}


/* Средняя плашка хеддера  */

.main-middlebar {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 158px;
}

.main-middlebar > p {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-amaranth);
  font-weight: normal;
  font-family: var(--cuprum);
  font-style: italic;
  margin-top: 38px;
  margin-left: 30px;
}

.main-middlebar-address {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-middlebar-address a {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-amaranth);
  font-weight: bold;
  font-family: var(--cuprum);
  font-style: normal;
  position: relative;
  padding-left: 74px;
  padding-top: 5px;
  display: block;
  width: 270px;
  height: 45px;
  border: 3px solid var(--white);
  box-sizing: border-box;
}

.main-middlebar-address a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 39px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-middlebar-address p {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
  font-weight: normal;
  font-family: var(--cuprum);
  font-style: normal;
  margin-top: 5px;
}

.main-middlebar div {
  margin-top: 46px;
  display: flex;
}



.login,
.registration {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  font-weight: normal;
  font-family: var(--cuprum);
  display: block;
  height: 45px;
  padding: 12px 24px;
  background-color: var(--white);
  box-sizing: border-box;
  position: relative;
}
.login svg {
  position: absolute;
  top: 14px;
  left: 19px;
}

.login {
  margin-right: 10px;
  padding-left: 45px;
}

.login:hover svg path {
  fill: var(--chambray);
}

.login:active svg path {
  fill: var(--silver);
}

.login:hover,
.registration:hover {
  color: var(--basic-amaranth)
}

.login:active,
.registration:active {
  color: var(--silver)
}

/* Навигация в хеддере */

.main-navigation {
  box-sizing: border-box;
  background-color: var(--basic-blue);
  box-shadow: inset 0 -5px 0 var(--hover-bunting);
  height: 60px;
  padding: 0 55px;
  display: flex;
}

.site-navigation {
  list-style: none;
  margin: auto 0;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  font-weight: normal;
  font-family: var(--cuprum);
}

/* Промо-блок */
/* .main-wrapper {
box-sizing: border-box;
} */

.promo {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
}

.promo-slider {
  grid-column: 1/3;
  grid-row: 2/4;
  background-color: #787372;
  background-image: url("../img/worker.jpg");
}

.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
  font-weight: bold;
  font-family: var(--cuprum);
}

.promo-material {
  background-color: var(--golden-tainoi);
}

.promo-instrument {
  background-color: var(--summer-sky);
}

.promo-technic {
  background-color: var(--plum);
}

.promo-sale {
  background-color: var(--de-york);
}

.promo-delivery {
  background-color: var(--golden-tainoi);
}

.promo-button {
  background-color: rgba(255, 255, 255, 0.3)
}

.promo-button:hover {
  background-color: rgba(197, 197, 197, 0.3)
}

.promo-button:active {
  background-color: rgba(169, 169, 169, 0.3)
}

/* Слайдер промо-блока */

.promo-slider h3 {
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  font-weight: bold;
  font-family: var(--cuprum);
  text-transform: uppercase;
}

.promo-slider p {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  font-weight: normal;
  font-family: var(--cuprum);
}

.red-button {
  background-color: var(--basic-amaranth);
}

.red-button:hover {
  background-color: var(--hover-mahogany);
}

.red-button:active {
  background-color: var(--click-cardinal);
}

/* Популярные товары */

.main-goods-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.main-goods-bar {
  background-color: var(--linen);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 89px;
}

.section-header {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  font-weight: normal;
  font-family: var(--cuprum);
  text-transform: uppercase;
}

.section-header-catalog {
  background-color: var(--alice-blue-catalog);
}

.bread-crumbs {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-goods-item {
  box-sizing: border-box;
  border: 1px solid var(--whisper);
}

.main-goods-item h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--black);
  font-family: "PT Sans", Arial, sans-serif;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--darkgray);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.price-button {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-amaranth);
  border-style: none;
}

.price-button:hover {
  background-color: var(--hover-mahogany);
}

.price-button:active {
  background-color: var(--click-cardinal);
}

.buy-button {
  background-color: var(--basic-apple);
}

.buy-button:hover {
  background-color: var(--hover-kelly-green);
}

.buy-button:active {
  background-color: var(--click-la-palma);
}

.to-bookmark-button {
  color: var(--basic-blue);
  background-color: var(--white);
  border: 3px solid var(--basic-apple);
}

.to-bookmark-button:hover {
  color: var(--basic-blue);
  border: 3px solid var(--basic-blue);
}

.to-bookmark-button:active {
  color: var(--rock-blue);
  border: 3px solid var(--rock-blue);
}

/* Популярные производители */


.main-brands-bar {
  background-color: var(--linen);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 89px;
}

.main-brands-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.main-brands-item {
  box-sizing: border-box;
  background-color: var(--white);
  border: 1px solid #EAEAEA;
  width: 220px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Сервисы */

.service {
  background-color: var(--alice-blue);
  height: 522px;
}

.service-promo {
  display: flex;
  justify-content: space-between;
}

.service-text {
  background: url(../img/track.png) no-repeat top right;
  width: 620px;
}

.service p {
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-button {
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  font-weight: bold;
  font-family: var(--cuprum);
  background-color: var(--basic-blue);
  border-style: none;
  width: 240px;
}

.service-button-active {
  color: var(--basic-blue);
  background-color: var(--white);
}

.service-button:hover:not(.service-button-active) {
  background-color: var(--hover-bunting);
}

.service h2 {
  color: var(--black);
}

/* О компании */

.about {
  display: flex;
  justify-content: space-between;
  height: 496px;
}

.about-map {
  width: 300px;
}

.about-transport {
  width: 460px;
}

.about h3 {
  color: var(--black);
}

.about-transport-list {
  list-style: none;
}

.about-transport-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black);
  font-family: var(--cuprum);
}

/* Футер */
/* Футер верхняя часть */

.footer-top {
  background-color: var(--basic-blue);
  height: 193px;
}

/* footer logo */

.top-footer-nav div {
  background-color: var(--basic-amaranth);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--magnolia);
  font-family: var(--cuprum);
  font-style: normal;
  width: 360px;
}

.footer-address a {
  color: var(--magnolia);
}

.top-footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-nav-company {
  list-style: none;
  display: flex;
  width: 550px;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0 0;
}

.footer-nav-company li {
  margin-left: 20px;
}

.footer-nav-company a {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-family: var(--cuprum);
  color: var(--alice-blue);
}

.top-footer-catalog {
  display: flex;
  justify-content: space-between;
}

.footer-nav-goods {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  width: 525px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-nav-goods li {
  margin-left: 20px;
}

.footer-nav-goods a {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-family: var(--cuprum);
  color: var(--salomie);
}

.footer-nav-company a:hover,
.footer-nav-goods a:hover {
  text-decoration: underline;
}

.footer-nav-company a:active,
.footer-nav-goods a:active {
  opacity: 0.5;
}

/* Футер нижняя часть */

.footer-social {
  background-color: var(--hover-bunting);
  font-family: var(--cuprum);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-social-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
}

.footer-social-flex p {
  margin: 0;
}

.footer-social-flex ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 134px;
}

.footer-social-flex address {
  width: 160px;
}

.footer-social-flex p:last-child {
  width: 140px;
}

.social-icon {
  background-color: var(--social);
}

.social-icon:hover {
  background-color: var(--basic-amaranth);
}

.social-icon:active {
  background-color: var(--basic-amaranth);
}

.footer-social-list a {
  color: var(--white);
}

.footer-social address {
  font-style: normal;
}

.footer-social a {
  color: var(--salomie);
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-social a:active {
  color: var(--basic-amaranth);
}
