/* Variables */

:root {
  --basic-amaranth: #ee3643;
  --hover-mahogany: #ca2c37;
  --click-cardinal: #BA2732;
  --basic-apple: #63a63e;
  --hover-kelly-green: #5FBB2D;
  --click-la-palma: #518534;
  --basic-blue: #32425C;
  --hover-bunting: #293449;
  --click-midnight-express: #1d2739;
  --light-gray: rgba(0, 0, 0, 0.0001);
  --black: #000000;
  --black-russian: #161D29;
  --chambray: #3d546f;
  --summer-sky: #3BBCE3;
  --golden-tainoi: #FFBF47;
  --salomie: #FFD180;
  --plum: #DC91D8;
  --de-york: #8ED78F;
  --linen: #F9F5F0;
  --whisper: #EAEAEA;
  --alice-blue: #F1F5F7;
  --alice-blue-catalog: #F2F6F8;
  --silver: #c5c5c5;
  --old-lace: #F7F3EC;
  --white: #ffffff;
  --darkgray: #a9a9a9;
  --magnolia: #F3F7F9;
  --rock-blue: #99a1ae;

  --social: #212A3A;
  --cuprum: Cuprum, Arial, Helvetica, sans-serif;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Outline */

.outline-red {
  outline: 1px solid rgba(255, 0, 0, 0.7);
  outline-offset: -3px;
}

.outline-green {
  outline: 1px solid rgba(0, 255, 0, 0.7);
  outline-offset: -3px;
}

.outline-blue {
  outline: 1px solid rgba(0, 0, 255, 0.7);
  outline-offset: -3px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  font-weight: normal;
  font-family: var(--cuprum);
  text-transform: uppercase;
  text-align: center;
  border-style: none;
  padding: 10px 46px;
  display: block;
  box-sizing: border-box;
}

/* Верхняя плашка хеддера */

.main-topbar {
  background-color: var(--hover-bunting);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: var(--magnolia);
  height: 320px;
  margin-bottom: 59px;
}

.main-topbar-wrapper {
  box-sizing: border-box;
  display: flex;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  font-weight: normal;
  font-family: var(--cuprum);
  height: 42px;
}

.main-topbar-logo {
  background-color: var(--basic-amaranth);
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}

.main-topbar-logo:active {
  background-color: var(--click-cardinal);
}


.main-topbar-logo img {
  margin-top: 12px;
}

.main-topbar-search {
  display: flex;
  position: relative
}

.header-input-search {
  order: 1;
  background-color: transparent;
  width: 271px;
  height: 42px;
  border: none;
  padding: 0 0 0 42px;
  box-sizing: border-box;
}


.main-topbar-search svg {
  opacity: 0.3;
  margin-left: 17px;
  margin-top: 10px;
  position: absolute;
}

.main-topbar-search:hover svg {
  opacity: 1;
}


.header-input-search:focus + svg path {
  fill: var(--basic-amaranth);
}

.header-input-search:focus + svg {
  fill: var(--basic-amaranth);
  opacity: 1;
}


.header-input-search:focus {
  background-color: var(--white);
  outline: none;
}

.header-input-search::placeholder {
  color: var(--white);
  opacity: 1;
}

.header-input-search::placeholder:focus {
  color: var(--black);
}

.main-topbar-wrapper a {
  color: var(--white);
}


.main-topbar-user-menu {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.main-topbar-user-menu a {
  display: block;
  padding: 9px 23px;
  position: relative;
}

.main-topbar-bookmark::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 16px;
  height: 18px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-topbar-cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 16px;
  height: 18px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-topbar-bookmark:hover::before,
.main-topbar-cart:hover::before {
  opacity: 1;
}

.main-topbar-bookmark:active,
.main-topbar-cart:active {
  opacity: 0.3;
}

.main-topbar-order {
  background-color: var(--basic-apple);
}

.main-topbar-order:hover {
  background-color: var(--hover-kelly-green);
}

.main-topbar-order:active {
  background-color: var(--basic-apple);
  color: rgba(255, 255, 255, 0.5);
}


/* Средняя плашка хеддера  */

.main-middlebar {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 158px;
}

.main-middlebar > p {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-amaranth);
  font-weight: normal;
  font-family: var(--cuprum);
  font-style: italic;
  margin-top: 38px;
  margin-left: 30px;
}

.main-middlebar-address {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-middlebar-address a {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-amaranth);
  font-weight: bold;
  font-family: var(--cuprum);
  font-style: normal;
  position: relative;
  padding-left: 74px;
  padding-top: 5px;
  display: block;
  width: 270px;
  height: 45px;
  border: 3px solid var(--white);
  box-sizing: border-box;
}

.main-middlebar-address a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 39px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-middlebar-address p {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
  font-weight: normal;
  font-family: var(--cuprum);
  font-style: normal;
  margin-top: 5px;
}

.main-middlebar div {
  margin-top: 46px;
  display: flex;
}


.login,
.registration {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  font-weight: normal;
  font-family: var(--cuprum);
  display: block;
  height: 45px;
  padding: 12px 24px;
  background-color: var(--white);
  box-sizing: border-box;
  position: relative;
}

.login svg {
  position: absolute;
  top: 14px;
  left: 19px;
}

.login {
  margin-right: 10px;
  padding-left: 45px;
}

.login:hover svg path {
  fill: var(--chambray);
}

.login:active svg path {
  fill: var(--silver);
}

.login:hover,
.registration:hover {
  color: var(--basic-amaranth)
}

.login:active,
.registration:active {
  color: var(--silver)
}

/* Навигация в хеддере */

.main-navigation {
  box-sizing: border-box;
  background-color: var(--basic-blue);
  box-shadow: inset 0 -5px 0 var(--hover-bunting);
  height: 60px;
  /*padding: 0 52px;*/
}

.site-navigation {
  list-style: none;
  margin: auto 0;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.site-navigation li {
  flex-grow: 1;
}

.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  font-weight: normal;
  font-family: var(--cuprum);
  display: block;
  padding: 18px 0;
  text-align: center;
}

.site-navigation a:hover {
  background-color: var(--hover-bunting);
}

.site-navigation a:active {
  background-color: var(--click-midnight-express);
  color: rgba(255, 255, 255, 0.5);
}


.promo {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  margin-bottom: 59px;
}

/*TODO переделать без градиента*/
.new {
  position: relative;
}

.new::after {
  content: "NEW";
  position: absolute;
  top: 6px;
  right: 6px;
  width: 67px;
  height: 67px;
  font-family: var(--cuprum);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  transform: rotate(45deg);

}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 67px;
  height: 67px;
  background-image: linear-gradient(
    45deg,
    transparent 50%,
    var(--basic-amaranth) 50%,
    var(--basic-amaranth) 80%,
    transparent 80%);
}


.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
  font-weight: bold;
  font-family: var(--cuprum);
  margin: 0;
  padding-left: 23px;
  padding-top: 20px;
}

.promo-material {
  background: var(--golden-tainoi) url("../img/icon-vedro.svg") no-repeat 213px 31px;
}

.promo-instrument {
  background: var(--summer-sky) url("../img/icon-drel.svg") no-repeat 194px 34px;
}

.promo-technic {
  background: var(--plum) url("../img/icon-tractor.svg") no-repeat 191px 31px;
}

.promo-sale {
  background: var(--de-york) url("../img/icon-sale.svg") no-repeat 196px 26px;
}

.promo-delivery {
  background: var(--golden-tainoi) url("../img/icon-delivery.svg") no-repeat 191px 32px;
}

.promo-button {
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  width: 135px;
  padding: 10px 0;
  margin-left: 23px;
  margin-top: 14px;
}

.promo-button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.promo-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

/* Слайдер промо-блока */

.promo-slider {
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
}

.promo-slider-list {
  padding: 0;
  margin: 0;
}

.slide-item {
  background-color: #787372;
  height: 266px;
}

.slide-item h3 {
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  font-weight: bold;
  font-family: var(--cuprum);
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  left: 24px;
  top: 23px;
}

.slide-item p {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  font-weight: normal;
  font-family: var(--cuprum);
  position: absolute;
  margin: 0;
  left: 24px;
  top: 64px;
}

.slide-item a {
  position: absolute;
  left: 24px;
  bottom: 27px;
}

.display-none {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls {
  display: block;
  position: absolute;
  top: 122px;
  box-sizing: border-box;
  width: 100%;
}

.slider-controls button:first-child {
  padding: 0;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  background-image: url("../img/icon-left.svg");
  position: absolute;
  left: 24px;
}

.slider-controls button:last-child {
  padding: 0;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  background-image: url("../img/icon-left.svg");
  transform: rotate(180deg);
  position: absolute;
  right: 24px;
}

.slider-indication {
  position: absolute;
  left: 295px;
  bottom: 36px;
}

.slider-indication button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

.slider-indication button.current {
  background-color: red;
}


.red-button {
  background-color: var(--basic-amaranth);
}

.red-button:hover {
  background-color: var(--hover-mahogany);
}

.red-button:active {
  background-color: var(--click-cardinal);
}

/* Популярные товары */

.main-goods-list {
  margin: 0 0 70px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  font-weight: normal;
  font-family: var(--cuprum);
  text-transform: uppercase;
  padding-left: 28px;
  margin-top: 29px;
}

.section-button {
  margin-top: 25px;
  margin-bottom: 26px;
  margin-right: 14px;
  width: 192px;
  padding: 10px 0;
  display: block;
}

.catalog-section-bgcolor {
  background-color: var(--alice-blue-catalog);
}

.bread-crumbs {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bread-crumbs a {
  color: var(--black);
}

.bread-crumbs li {
  position: relative;
  margin-right: 40px;
}

.bread-crumbs li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  right: -24px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bread-crumbs li:last-child {
  margin-right: 0;
}

.bread-crumbs-current::after {
  display: none;
}

.catalog-item {
  box-sizing: border-box;
  border: 1px solid var(--whisper);
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-item:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.catalog-item:hover img {
  display: none;

}

.catalog-item:hover .buy-button {
  display: block;
}

.catalog-item:hover .to-bookmark-button {
  display: block;
}


.catalog-item a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 216px;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--black);
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  padding: 0 30px;
  margin: auto 0 0 0;
}

.catalog-item img {
  margin: auto auto 0 auto;
}

.catalog-item p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  flex-grow: 1;
  justify-content: flex-end;
}

.catalog-item del {
  margin-bottom: 13px;
}

.catalog-item button {
  margin-bottom: 21px;
  padding: 10px 0;
  width: 141px;
}


.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--darkgray);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.price-button {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-amaranth);
  border-style: none;
  border-radius: 3px;
  background-image: linear-gradient(225deg, var(--white) 11%, transparent 11%),
  linear-gradient(315deg, var(--white) 11%, transparent 11%);
}

.price-button:hover {
  background-color: var(--hover-mahogany);
}

.price-button:active {
  background-color: var(--click-cardinal);
}

.buy-button {
  background-color: var(--basic-apple);
  box-shadow: inset 0 -3px 0 #367315;
  border-radius: 2px;
  position: absolute;
  top: 38px;
  left: 41px;
}

.buy-button::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.buy-button:hover {
  background-color: var(--hover-kelly-green);
}

.buy-button:active {
  background-color: var(--click-la-palma);
}

.to-bookmark-button {
  color: var(--basic-blue);
  background-color: var(--white);
  border: 3px solid var(--basic-apple);
  border-radius: 2px;
  position: absolute;
  top: 86px;
  left: 41px;
}

.to-bookmark-button:hover {
  color: var(--basic-blue);
  border: 3px solid var(--basic-blue);
}

.to-bookmark-button:active {
  color: var(--rock-blue);
  border: 3px solid var(--rock-blue);
}

/* Популярные производители */

.main-section-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 89px;
  margin-bottom: 20px;
  grid-column: 1 / -1;
}

.index-section-bgcolor {
  background-color: var(--linen);
}

.main-brands-list {
  margin: 0 0 70px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.main-brands-item {
  box-sizing: border-box;
  background-color: var(--white);
  border: 1px solid #EAEAEA;
  width: 220px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-brands-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.main-brands-item:active img {
  opacity: 0.5;
}

/* Сервисы */

.service {
  background-color: var(--alice-blue);
  height: 522px;
  padding-top: 64px;
}

.service h2 {
  padding: 0;
  margin: 0;
  color: var(--black);
}

.service-promo {
  display: flex;
  justify-content: space-between;
  height: 279px;
  align-items: center;
  position: relative;
  margin-top: 45px;
}

.service-promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}


.service-text {
  width: 620px;
  height: 100%;
}

.service-text-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.service-text-list li {
  height: 100%;
}

.service-text-list li:first-child {
  background: url(../img/track.png) no-repeat 100% 50px;
}

.service-text-list li:nth-child(2) {
  background: url(../img/guarantee.png) no-repeat 100% 50px;
}

.service-text-list li:last-child {
  background: url(../img/credit.png) no-repeat 100% 50px;
}

.service-text-list h3 {
  padding: 50px 0 0 0;
  margin: 0;
}


.service p {
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  margin-top: 25px;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.service-item {
  flex-grow: 1;
}

.service-buttons {
  height: 185px;
}

/*TODO починить верстку кнопок, на сафари слипается фон*/
.service-button {
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  font-weight: bold;
  font-family: var(--cuprum);
  background-color: var(--basic-blue);
  border-style: none;
  width: 240px;
  display: block;
  height: 100%;
  box-shadow: inset 0 -1px 0 var(--hover-bunting), inset 0 1px 0 #405069;
  padding: 0 0 0 22px;
  text-align: left;
}

.service-button-active {
  color: var(--basic-blue);
  background-color: var(--white);
  box-shadow: none;
}

.service-button:hover:not(.service-button-active) {
  background-color: var(--hover-bunting);
}


/* О компании */

.about {
  display: flex;
  justify-content: space-between;
  height: 496px;
}

.about-map {
  width: 300px;
}

.about-map button {
  width: 100%;
}

.about-map img {
  margin: 19px 0 18px 0;
}

.about-transport {
  width: 460px;
}

.about-transport .button {
  width: 220px;
  padding: 10px;
  margin-top: 25px;
}


.about h3 {
  color: var(--black);
  padding: 0;
  margin-top: 70px;
  margin-bottom: 11px;
}

.about-transport-list {
  list-style: none;
  padding-left: 0;
}

.about-transport-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black);
  font-family: var(--cuprum);
  position: relative;
  padding-left: 37px;
  margin-bottom: 10px;
}

.about-transport-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-amaranth);
}

/* Футер */
/* Футер верхняя часть */

.footer-top {
  background-color: var(--basic-blue);
  height: 193px;
}

/* footer logo */

.top-footer-nav div {
  background-color: var(--basic-amaranth);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--magnolia);
  font-family: var(--cuprum);
  font-style: normal;
  width: 360px;
}

.footer-address a {
  color: var(--magnolia);
}

.top-footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-nav-company {
  list-style: none;
  display: flex;
  width: 569px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 37px 0 0;
}

.footer-nav-company li {
  margin-left: 20px;
}

.footer-nav-company a {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-family: var(--cuprum);
  color: var(--alice-blue);
}

.top-footer-catalog {
  display: flex;
  justify-content: space-between;
}

.footer-nav-goods {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  width: 545px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-nav-goods li {
  margin-left: 20px;
}

.footer-nav-goods a {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-family: var(--cuprum);
  color: var(--salomie);
}

.footer-nav-company a:hover,
.footer-nav-goods a:hover {
  text-decoration: underline;
}

.footer-nav-company a:active,
.footer-nav-goods a:active {
  opacity: 0.5;
  text-decoration: none;
}

/* Футер нижняя часть */

.footer-social {
  background-color: var(--hover-bunting);
  font-family: var(--cuprum);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-social-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
}

.footer-social p:first-of-type {
  margin-right: 145px;
}

.footer-social-flex p {
  margin: 0;
  width: 230px;
}

.footer-social-flex ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 134px;
}

.footer-social-flex address {
  width: 160px;
  margin-left: 115px;
}

.footer-social-flex p:last-child {
  width: 111px;
}

.social-icon {
  background-color: var(--social);
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-icon:hover {
  background-color: var(--basic-amaranth);
}

.social-icon:active {
  background-color: var(--basic-amaranth);
}

.footer-social-list a {
  color: var(--white);
}

.footer-social address {
  font-style: normal;
}

.footer-social a {
  color: var(--salomie);
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-social a:active {
  color: var(--basic-amaranth);
  text-decoration: none;
}

/* Modal */
/*TODO сместить модал карты влево как на макете, не по центру, или уточнить у наставника*/
.modal {
  border-top: 7px solid #ff5257;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.modal-wrapper {
  width: 460px;
  margin: auto;
}

.write-us-form.modal-wrapper {
  padding-top: 46px;
}


/* Modal write us*/

.modal-write-us {
  top: 180px;
  bottom: auto;
  width: 620px;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 318px;
}

.write-us-form p {
  margin: 0;
}

.write-us-form p:last-child {
  flex-grow: 1;
}

.modal-write-us-name,
.modal-write-us-email {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding: 5px 10px;
  margin-top: 10px;
}

.modal-write-us-message {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 5px 10px;
}


.modal-write-us-label {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  font-weight: normal;
  font-family: var(--cuprum);
}

.modal input[type="text"]::placeholder,
.modal input[type="email"]::placeholder,
textarea::placeholder {
  opacity: 1;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--darkgray);
}

.modal input,
.modal textarea {
  border: 2px solid var(--silver);
  border-radius: 2px;
}

.modal-write-us-bottom-section {
  background-color: #f4f4f4;
  height: 112px;
  display: flex;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  border: 0;
  cursor: pointer;
}

/* modal-map */
.modal-map {
  top: 180px;
  bottom: auto;
  width: 943px;
  height: 449px;
}

.modal-map img {
  display: block;
}

/* Каталог */

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  gap: 20px;
}

/* Фильтр */

.filter {
  width: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-top: 10px;
}

.filter fieldset:not(:last-of-type) {
  border-bottom: 1px solid #E5E5E5;
}


.head-bar h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
}

/*TODO убрать подчеркивание при визитет*/
.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}

.filter label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
  padding: 10px 0;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter-input:active + label {
  opacity: 0.4;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 8px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*TODO добвить состояния лейблам чекбоксам и радиобатонам ховер актив блокирован*/
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 7px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--silver);
  border-radius: 50%;
  box-sizing: border-box;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -34px;
  width: 9px;
  height: 9px;
  background-color: var(--silver);
  border-radius: 50%;
}

/*Sort*/
.sort {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  display: flex;
  background-color: var(--old-lace);
  padding: 0 17px 0 20px;
  align-items: center;
}
.sort h2 {
  font-size: inherit;
  font-weight: inherit;
  flex-grow: 1;
}
.sort button {
  line-height: inherit;
  text-transform: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  height: 18px;
}
.sort button:last-child {
  margin-left: 21px;
}
.sort button:nth-of-type(4) {
  margin-left: 46px;
  transform: rotate(180deg);
}
.sort button:nth-of-type(3) {
  margin-left: 65px;
}
.sort button:nth-of-type(2) {
  margin-left: 70px;
}
.sort-current {
  color: var(--basic-amaranth);
}
.sort-current svg path{
  fill: var(--basic-amaranth);
}


/* Catalog */
.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
}


/* Pagination */
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item a {
  color: var(--black);
  background-color: var(--white);
  display: block;
  padding: 6px 14px;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.pagination-item:not(.pagination-item-current) a:hover {
  border: 1px solid var(--silver);
}

.pagination-item:not(.pagination-item-current) a:active {
  border: 1px solid var(--basic-amaranth);
}

.pagination-item:last-child a {
  padding: 6px 37px;
  text-transform: uppercase;
}

.pagination-item-current a {
  color: var(--white);
  background-color: var(--basic-amaranth);
  border: 1px solid var(--basic-amaranth);
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

/*Article*/
.catalog-article {
  grid-column: 1 / -1;
}

.catalog-article h2 {
  font-family: var(--cuprum);
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
}




